{{extend './_layouts/layout.html'}}

{{block 'title'}}关于{{/block}}

{{block 'head'}}
<link rel="stylesheet" href="/public/stylesheets/about.css">
{{/block}}

{{block 'content'}}
<div class="about">
  <div class="header">
    <a href="/">主页</a>
    <span class="divider">/</span>
    <span class="title">关于</span>
  </div>
  <main>
    <section>
      <h2>关于此项目</h2>
      <p>
        这是我在学习 node.js 过程中，尝试仿照 <a href="https://cnodejs.org/">Cnode 社区</a> 做的一个简易的后端论坛项目。项目基于 node.js 构建，
        使用 experss 框架，以 express-generator 生成器创建项目模版，使用 art-template 模版引擎，
        使用 mongoose 第三方包操作 MongoDB 数据库。
      </p>
    </section>
    <section>
      <h2>关于我</h2>
      <p>
        访问
        <a href="https://github.com/evanmiao">GitHub</a>
      </p>
    </section>
  </main>
</div>
{{/block}}
