<!DOCTYPE html>
<html lang="zh-cmn-hans">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/stylesheets/signin.css">
  <title>注册</title>
</head>

<body>
  <div class="container">
    <div class="signup-wrapper">
      <div class="header">注册</div>
      <div class="form-wrapper">
        <form id="signup_form">
          <input type="text" name="username" placeholder="请输入用户名" class="input-item">
          <input type="email" name="email" placeholder="请输入邮箱" class="input-item">
          <input type="password" name="password" placeholder="请输入密码" class="input-item">
          <button type="submit" class="btn">注册</button>
        </form>
      </div>
      <div class="msg">
        已有账号？<a href="/signin">点击登录</a>
      </div>
    </div>
  </div>
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script>
    $('#signup_form').on('submit', function (e) {
      e.preventDefault()
      var formData = $(this).serialize()
      $.ajax({
        url: '/signup',
        type: 'post',
        data: formData,
        dataType: 'json',
        success: function (data) {
          window.alert(data.message)
          if (data.err_code === 0) {
            // 服务端重定向针对异步请求无效
            window.location.href = '/signin'
          }
        }
      })
    })
  </script>
</body>

</html>