{{extend './_layouts/layout.html'}}

{{block 'head'}}
<link rel="stylesheet" href="/public/stylesheets/detail.css">
<style>
  form div {
    margin-bottom: 1rem;
  }

  label {
    display: inline-block;
    margin-bottom: .5rem;
    color: #212529;
  }

  .checkbox-wrap {
    margin-bottom: 0;
    margin-right: .75rem;
  }

  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .btn {
    padding: .375rem .75rem;
    line-height: 1.5;
    font-size: 1rem;
    color: #fff;
    border: 1px solid transparent;
    border-radius: .25rem;
    background-color: #80bd01;
    border-color: #80bd01;
  }
</style>
{{/block}}

{{block 'content'}}
<div class="detail">
  <div class="header">
    <a href="/">主页</a>
    <span class="divider">/</span>
    <span class="title">编辑话题</span>
  </div>
  <main>
    <div class="container">
      <form id="update_form" action="/topic/{{topic._id | JSON.stringify | JSON.parse}}/update" method="POST">
        <div>
          <label for="tab">选择版块：</label>
          <select name="tab" id="tab" class="form-control" required>
            <option value="">请选择</option>
            <option value="share" {{if topic.tab === 'share'}}selected{{/if}}>分享</option>
            <option value="ask" {{if topic.tab === 'ask'}}selected{{/if}}>问答</option>
            <option value="job" {{if topic.tab === 'job'}}selected{{/if}}>招聘</option>
            <option value="dev" {{if topic.tab === 'dev'}}selected{{/if}}>客户端测试</option>
          </select>
        </div>
        <div>
          <label for="title">请输入标题</label>
          <input type="text" name="title" id="title" class="form-control" value="{{topic.title}}" required />
        </div>
        <div>
          <label for="content">请输入内容</label>
          <textarea name="content" cols="30" rows="10" style="height: 120px;" id="content" class="form-control" required>{{topic.content}}</textarea>
        </div>
        <div>
          <label class="checkbox-wrap">
            <input type="checkbox" {{if topic.top}}checked{{/if}} onclick="javascript:document.getElementById('top').value=this.checked" />
            置顶
          </label>
          <input type="hidden" name="top" id="top" value="{{if topic.top}}true{{else}}false{{/if}}" />
          <label class="checkbox-wrap">
            <input type="checkbox" {{if topic.good}}checked{{/if}} onclick="javascript:document.getElementById('good').value=this.checked" />
            精华
          </label>
          <input type="hidden" name="good" id="good" value="{{if topic.top}}true{{else}}false{{/if}}" />
        </div>
        <button type="submit" class="btn">提交</button>
      </form>
    </div>
  </main>
</div>
{{/block}}