* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 76px;
  background: #e1e1e1;
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma,
    "Hiragino Sans GB", STHeiti, sans-serif !important;
}

main {
  width: 90%;
  max-width: 1400px;
  min-width: 960px;
  margin: 15px auto;
}

@media (max-width: 979px) {
  main {
    margin: 20px auto;
  }
}