<div class="autherinfo">
  <div class="authersummay">
    <div class="topbar">作者</div>
    <a href="/user/{{topic.author.loginname}}">
      <img src="{{topic.author.avatar_url}}" />
    </a>
    <a href="/user/{{topic.author.loginname}}">
      <span class="loginname">{{topic.author.loginname}}</span>
    </a>
    <p class="user_profile">积分: {{topic.author.score}}</p>
    <p class="user_profile">{{topic.author.signature}}</p>
  </div>
  <div class="recent_topics">
    <div class="topics_title">作者最近主题</div>
    <div class="inner">
      <ul>
        {{each topic.author.recent_topics.slice(0, 5)}}
        <li><a href="/topic/{{$value.id}}">{{$value.title}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="recent_replies">
    <div class="replies_title">作者最近回复</div>
    <div class="inner">
      <ul>
        {{each topic.author.recent_replies.slice(0, 5)}}
        <li><a href="/topic/{{$value.id}}">{{$value.title}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>