._footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  background: #fff;
  width: 100%;

  .footer_main {
    color: #ababab;
    padding: 22px;
    font-size: 14px 0;
    line-height: 2em;

    a {
      color: #666;
      text-decoration: none;

      &:hover {
        color: #385f8a;
      }
    }
  }
}