.user-info {
  font-size: 14px;
  background: #fff;

  .header {
    padding: 10px;
    background-color: #f6f6f6;

    a {
      color: #80bd01;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .divider {
      padding: 0 5px;
      color: #ccc;
    }
  }

  clearfix::after {
    content: '';
    display: block;
    clear: both;
  }

  section {
    padding: 10px;
    border-top: 1px solid #e5e5e5;

    img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      float: left;
    }

    .loginname {
      color: #778087;
    }

    .user_profile {
      padding: 10px;
      margin-top: 20px;
      clear: left;
    }

    .col_fade {
      color: #ababab;
      margin-bottom: 10px;
    }
  }

  img {
    border-radius: 3px;
    height: 30px;
    width: 30px;
    vertical-align: middle;
    margin-right: 10px;
  }

  li {
    list-style: none;
    border-top: 1px solid #f0f0f0;

    .title {
      padding: 10px 0;
      max-width: 70%;
      white-space: nowrap;
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
      line-height: 30px;
    }
  }

  .replies,
  .topics {
    font-size: 0.75rem;
    border-top: 14px #ddd solid;

    .topics_title,
    .replies_title {
      padding: 12px;
      background-color: rgba(212, 205, 205, 0.17);
      margin: 0;
      border-radius: 3px 3px 0 0;
    }

    ul>li {
      padding: 4px 0 4px 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: 30px;
      vertical-align: middle;

      a {
        color: #08c;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .last_reply {
    text-align: right;
    min-width: 50px;
    display: inline-block;
    white-space: nowrap;
    float: right;
    color: #778087;
    font-size: 12px;
    margin-right: 10px;
  }
}